USE [master]
GO
/****** Object:  Database [QLHS]    Script Date: 01/08/2020 9:55:27 CH ******/
CREATE DATABASE [QLHS]
 
ALTER DATABASE [QLHS] SET COMPATIBILITY_LEVEL = 140
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLHS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLHS]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 01/08/2020 9:55:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Username] [varchar](30) NOT NULL,
	[Pass] [varchar](30) NULL,
	[Email] [varchar](30) NULL,
	[FullName] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIEM]    Script Date: 01/08/2020 9:55:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEM](
	[MADIEM] [int] IDENTITY(1,1) NOT NULL,
	[LOAIDIEM] [nvarchar](20) NOT NULL,
	[MAHS] [int] NOT NULL,
	[MAMONHOC] [varchar](10) NOT NULL,
	[HOCKY] [nvarchar](10) NOT NULL,
	[MALOP] [int] NOT NULL,
	[GIATRIDIEM] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MADIEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOCSINH]    Script Date: 01/08/2020 9:55:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCSINH](
	[MAHS] [int] IDENTITY(1,1) NOT NULL,
	[MALOP] [int] NOT NULL,
	[HOTEN] [nvarchar](40) NOT NULL,
	[NGAYSINH] [smalldatetime] NOT NULL,
	[GIOITINH] [nvarchar](20) NOT NULL,
	[NOISINH] [nvarchar](40) NOT NULL,
	[TENNGGIAMHO] [nvarchar](40) NOT NULL,
	[SODT] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 01/08/2020 9:55:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [int] IDENTITY(1,1) NOT NULL,
	[TENLOP] [nvarchar](20) NOT NULL,
	[SISO] [int] NOT NULL,
	[TENGV] [nvarchar](50) NOT NULL,
	[KHOI] [nvarchar](20) NOT NULL,
	[TENNAMHOC] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 01/08/2020 9:55:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MAMONHOC] [varchar](10) NOT NULL,
	[TENMONHOC] [nvarchar](40) NOT NULL,
	[SOTIET] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAMONHOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DIEM] ON 

INSERT [dbo].[DIEM] ([MADIEM], [LOAIDIEM], [MAHS], [MAMONHOC], [HOCKY], [MALOP], [GIATRIDIEM]) VALUES (1, N'Kiểm tra 15 phút', 1, N'TOAN6', N'HK1', 1, 9.5)
SET IDENTITY_INSERT [dbo].[DIEM] OFF
SET IDENTITY_INSERT [dbo].[HOCSINH] ON 

INSERT [dbo].[HOCSINH] ([MAHS], [MALOP], [HOTEN], [NGAYSINH], [GIOITINH], [NOISINH], [TENNGGIAMHO], [SODT]) VALUES (1, 1, N'Nguyễn Minh', CAST(N'2006-04-01T00:00:00' AS SmallDateTime), N'Nam', N'Biên Hòa', N'AD Nhật', N'0213218321')
SET IDENTITY_INSERT [dbo].[HOCSINH] OFF
SET IDENTITY_INSERT [dbo].[LOP] ON 

INSERT [dbo].[LOP] ([MALOP], [TENLOP], [SISO], [TENGV], [KHOI], [TENNAMHOC]) VALUES (1, N'6A1', 45, N'Võ Minh Quý', N'K6', N'2018-2019')
SET IDENTITY_INSERT [dbo].[LOP] OFF
INSERT [dbo].[MONHOC] ([MAMONHOC], [TENMONHOC], [SOTIET]) VALUES (N'NVAN6', N'Ngữ Văn Lớp 6', 3)
INSERT [dbo].[MONHOC] ([MAMONHOC], [TENMONHOC], [SOTIET]) VALUES (N'TOAN6', N'Toán Lớp 6', 5)
/****** Object:  StoredProcedure [dbo].[DeleteClass]    Script Date: 01/08/2020 9:55:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[DeleteClass]
@malop int
as 
begin
	delete lop where malop=@malop
end 
GO
/****** Object:  StoredProcedure [dbo].[DeleteHS]    Script Date: 01/08/2020 9:55:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[DeleteHS]
@mahs int
as
begin
	delete HOCSINH where MAHS=@mahs
end
GO
/****** Object:  StoredProcedure [dbo].[DeleteMark]    Script Date: 01/08/2020 9:55:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[DeleteMark]
@madiem int
as
begin
	delete DIEM where MADIEM=@madiem
end
GO
/****** Object:  StoredProcedure [dbo].[GetAllClass]    Script Date: 01/08/2020 9:55:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetAllClass]
as
begin 
	select*from lop
end
GO
/****** Object:  StoredProcedure [dbo].[GetAllHS]    Script Date: 01/08/2020 9:55:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetAllHS]
@malop int
as
begin	
	select mahs,HOCSINH.MALOP,hoten,ngaysinh,gioitinh,noisinh,TENNGGIAMHO,sodt
	from lop,HOCSINH
	where lop.malop=hocsinh.malop and lop.malop=@malop
end
GO
/****** Object:  StoredProcedure [dbo].[GetAllMarks]    Script Date: 01/08/2020 9:55:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetAllMarks]
@mahs int
as
begin
	select *from DIEM where mahs=@mahs
end
GO
/****** Object:  StoredProcedure [dbo].[InsertMark]    Script Date: 01/08/2020 9:55:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[InsertMark]
@mahs int,
@mamh varchar(10),
@loaidiem nvarchar(20),
@malop int,
@hocky nvarchar(10),
@diem float
as
begin
	insert into DIEM values(@loaidiem,@mahs,@mamh,@hocky,@malop,@diem)
end
GO
/****** Object:  StoredProcedure [dbo].[InsertNewClass]    Script Date: 01/08/2020 9:55:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[InsertNewClass]
@tenlop nvarchar(20),
@siso int,
@tengv nvarchar(50),
@khoi nvarchar(20),
@tennamhoc nvarchar(20)
as 
begin
	insert into lop values(@tenlop,@siso,@tengv,@khoi,@tennamhoc)
end
GO
/****** Object:  StoredProcedure [dbo].[InsertNewStudent]    Script Date: 01/08/2020 9:55:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[InsertNewStudent]
@malop int,
@hoten nvarchar(40),
@ngaysinh smalldatetime,
@gioitinh nvarchar(20),
@noisinh nvarchar(40),
@tennggiamho nvarchar(40),
@sodt varchar(20)
as
begin
	insert into HOCSINH values (@malop,@hoten,@ngaysinh,@gioitinh,@noisinh,@tennggiamho,@sodt)
end
GO
/****** Object:  StoredProcedure [dbo].[LoginAccount]    Script Date: 01/08/2020 9:55:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[LoginAccount]
@username nvarchar(30),
@password nvarchar(30)
as
begin
SELECT FullName, Email
FROM Account
WHERE Username = @username and Pass = @password
end
GO
/****** Object:  StoredProcedure [dbo].[SignUpAccount]    Script Date: 01/08/2020 9:55:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SignUpAccount]
@username varchar(30),
@password varchar(30),
@email	  varchar(30),
@name	  nvarchar(30)
as
begin
insert into Account values (@username, @password, @email, @name)
end
GO
/****** Object:  StoredProcedure [dbo].[UpdateHS]    Script Date: 01/08/2020 9:55:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[UpdateHS]
@mahs int,
@malop int,
@hoten nvarchar(40),
@ngaysinh smalldatetime,
@gioitinh nvarchar(20),
@noisinh nvarchar(40),
@tennggiamho nvarchar(40),
@sodt varchar(20)
as
begin
	update HOCSINH set MALOP=@malop,HOTEN=@hoten,NGAYSINH=@ngaysinh,GIOITINH=@gioitinh,NOISINH=@noisinh,TENNGGIAMHO=@tennggiamho,SODT=@sodt where MAHS=@mahs
end
GO
USE [master]
GO
